@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$buttonGradient: linear-gradient(
	275.72deg,
	rgba(51, 32, 93, 0.59) -38.55%,
	rgba(254, 2, 144, 0.59) 112.94%
);
$bgGradient: linear-gradient(250.7deg, #4f2653 -17.3%, #170034 103.99%);

$default-font: 'Inter', sans-serif;
$mobile: 480px;
