@import '../../assets/style/variables';

.main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	.smalCat {
		position: absolute;
		right: 0px;
		top: 20px;
		& img {
			width: 213px;
			height: 213px;
		}
	}
	.cat {
		position: absolute;
		bottom: 0;
		& img {
			width: 862px;
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -160px;
	&__header {
		text-align: center;
		font-size: 66.67px;
		& span {
			color: #f40e91;
		}
	}
}

.copyrigth {
	font-family: Inter;
	font-size: 21px;
	font-weight: 300;
	color: #fff;
	opacity: 0.6;
	& span {
		color: #f40e91;
	}
}
