.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(249.93deg, #f3ddb8 1.33%, #ee9573 102.97%);

	&__player {
		position: relative;
		// filter: blur(4px);
	}

	.predictionCard {
		width: 400px;
		height: 400px;
		border-radius: 40px;
		box-shadow: 0px 15px 40px -1px #5555550d;
	}

	.trackInfo {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		margin-top: 73px;
		text-align: center;
		font-size: 22px;
		&__artist {
			font-weight: 300;
		}

		&__trackName {
			font-weight: 700;
		}
	}
	.reset {
		position: absolute;
		width: 545px;
		height: 413px;
		left: 0;
		bottom: 0;
		background: url('../../assets/img/cat.svg');
		&__btn {
			position: absolute;
			right: 15px;
			top: 50%;
			cursor: pointer;
			width: 103px;
			height: 103px;
			background: url('../../assets/img/resetBtn.png');
			z-index: 999;
		}
	}
}
