/* Добавьте стили в ваш файл CSS */
.progressContainer {
	width: 35%;
	margin-top: 10px;
	background: #ffffff26;
	height: 13px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	@media (max-width: 481px) {
		width: 90%;
	}
}

.progressBar {
	height: 100%;
	background: #ffffff80;
	border-radius: 10px;
	position: absolute;
	text-align: center;
	line-height: 20px;
	transition: width 0.3s ease-out;
}
.pharase {
	font-weight: 300;
	font-size: 23px;
	@media (max-width: 481px) {
		font-size: 16px;
		text-align: center;
	}
}

.persent {
	margin-top: 15px;
	font-weight: 700;
	font-size: 23.74px;
}
